body{
    max-width: 1400px;
    box-sizing: content-box;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:  linear-gradient(#061464 20%, #2039ca 47%, #2935d8 50%, #47a3f1);
}

header{
    width: 98%;
    height: 175px; 
    background:#abf9ff;
    border-radius: 0 0 30px 30px;
    top: -10px;
    display: inline-block;
    padding: 10px;
}

header h2 p{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    font-size: 22px;
    padding-top: 5px;
}

header a{
    margin: auto;
    display: block;
    text-decoration: none;
    color: #06195a;
    font-size: 22px;
}

header a:hover {
    color: #797a79;
    text-decoration: underline 2px #ff198e;
}

i.fa-solid.fa-arrow-right , i.fa-solid.fa-arrow-left{
    color: #ff198e;
    font-size: 14px;
    padding: 0 5px;
}

.nav {
    width: 32%;
    display: flex;
    padding-right: 20px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 20px;
    font-size: 30px;
}

.divPresentation {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: center;
    font-weight: bold;
    line-height: 1.5;
}

span.presentationNom {
    font-size: 38px;
}

span.presentation{
    display: block;
    margin: auto;
    width: 80%;
    font-size: 30px;
}

.divPresentation span {
    color: #06195a;
}

main h1 {
    width: 50%;
    height: 50px;
    display: flex;
    color: #68fff0;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    font-size: 40px;
}

main .experiences{
    width: 91%;
    margin: auto;
    margin: 50px  auto ;
    padding-bottom: 45px;
    font-size: 30px;
    text-align: center;
    color: #68fff0;
    border-bottom: #1effe8 double;
}
.CV a {
 width: 30%;
 margin: auto;
 color: #ee1717;
 font-weight: bold;
 position: absolute;
 right: 0;
 top:140px;

}
#projets {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divProjet {
    width: 40%;
    height: auto;
    margin: 30px auto;
    padding-bottom: 15px;
    justify-content: center;
    border: 5px solid #020244;
    border-radius: 20px;
    background-color: #020244;
} 

.divProjet:hover {
    border: 5px solid #1effe8;
}

#projets .projet img:hover {
    transform: scale(1.1);
}

#projets .projet {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#projets .projet .titreProjet{
    width: max-content;
    margin: auto;
    padding: 15px;
    display: block;
    color: #68fff0;
    font-size: 20px;
}
#projets .projet .titreProjet:hover {
    color: #ffffff;
    text-decoration: underline 3px #aafff7;
}

#projets .projet a, #projets .description a {
    text-decoration: none; 
}

i.fa-brands.fa-github {
padding-left: 15px;
}

#projets .description {
    width: 60%;
    margin: auto;
    color: #ffffff;
    font-size: 20px;
}

#projets .description a {
    width: max-content;
    display: block;
    color: #ff51ab;
    font-size: 18px;
    padding-bottom: 10px;
}

#projets .description a:hover {
    color: #ffffff;
    text-decoration: underline 3px #aafff7;
}

#projets .projet img {
    width: 70%;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    border: #1effe8 3px solid;
    padding: 3px;
    object-fit: fill;
}

form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    width: 30%;
    margin: auto;
    padding-top: 10px;
    font-size: 17px;
}
button{
    width: 25%;
    height: 25px;
    margin-top: 20px;
    background-color: #b4e7d3;
}
button a{
    color: #000;
    text-decoration: none;
}
input{
    width: 50%;
    height: 25px;
}
header .aproposH1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: #06195a;
}

.navApropos a{
    width: 70%;
    color: #06195a;
}

#apropos {
    margin: auto;
    color: white;
    margin: 70px;
    letter-spacing: 0.5px;
}
.aproposH2{
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
.about{
    width: 100%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 30px;
}

.about a {
    letter-spacing: 1px;
    color: #bf0745;
}

.about a:hover {
    color: #1effe8;
    text-decoration: underline;
}

span{
    color: #00ffe6;
}

mark {
    background-color: #a6f5ff;
    font-style: oblique;
    border-radius: 10px;
}

footer {
    height: 150px;
    background: #020244;
    border-radius: 30px 30px 0 0;
}

footer p {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
footer p a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}
footer p a:hover {
    display: block;
    transform: scale(1.1);
    color: #ff198e;
}

footer img {
    width: 100px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
footer .footer{
    margin-top: 30px;
}

/************************************************************************************************    ***********************************************/
.scale-up-bl {
    -webkit-animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}
/******************************************************** ANIMATIONS *******************************************************************/
.scale-up-tr {
    -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


/*************************************************** MEDIA-QUERY ********************************************************/

@media screen and (max-width: 747px) {
    header{
        width: 95%;
        height: 180px;
        box-shadow: inset #020244 1px -1px 10px 10px;
    }
    header h1{
        width: 100%;
        font-size: 40px;
    }
    
    header a {
        font-size: 16px;
    }
    
    .projets {
        padding-top: 5px;
    }
    
    .aproposH2{
        width: 50%;
        font-size: 20px;
    }
    
    header h2 p{
        width: 60%;
        margin: auto;
        font-size: 20px;
    }
    
    main .experiences {
        font-size: 22px;
        font-weight: lighter;
    }
    main .experiences h3{
        width: 100%;
        padding-top: 20px;
        font-size: 25px;
    }
    .divPresentation {
        width: 100%;
        line-height: 30px;
        padding-top: 45px;
    }
    .divPresentation span{
        width: 100%;
        font-size: 20px;
    }
    
    .divPresentation .presentationNom {
        font-size: 25px;
    }
    
    .divProjet {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    
    #projets .projet {
        width: 80%;
    }
    
    #projets .projet .titreProjet{
        font-size: 20px;
    }
    
    #projets .projet img {
        width: 60%;
        height: 200px;
        display: block;
    }

    #projets .description {
        font-size: 17px;
    }

    .nav {
        padding: 6px;
    }

    .CV a {
        width: 70%;
        padding: 6px;
    }

   footer {
    border-radius: 0;
 }
    footer p {
        width: 100%;
    }
    
    form{
        width: 100%;
    }
    
    input{
        width: 80%;
    }
    
    .about{
        width: 89%;
    }
    
    #apropos {
        margin: 20px;
        letter-spacing: 0px;
        line-height: 25px;
    }
}

